modules = ["web", "nodejs-20", "bash"]

[deployment]
deploymentTarget = "vm"
run = ["pnpm", "--filter", "@workspace/notibot", "run", "start"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Notibot"

[[workflows.workflow]]
name = "Notibot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/notibot run dev"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 8083
externalPort = 3001

[userenv]

[userenv.shared]
SERVER_2_SOURCE_CHANNEL_ID = "1441020273305321502"
